<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application android:usesCleartextTraffic="true">
        <meta-data
            android:name="org.godotengine.plugin.v2.FoodPhotoPicker"
            android:value="com.foodaicamera.plugin.FoodPhotoPickerPlugin" />
    </application>

</manifest>
